<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921819898861-gc99pqi146qpc69mjeleo5g7dvi3inpk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921819898861-gc99pqi146qpc69mjeleo5g7dvi3inpk</string>
	<key>API_KEY</key>
	<string>AIzaSyC3mdp2Y6L8yAZvztr0tYaI1UiFpNH2rGs</string>
	<key>GCM_SENDER_ID</key>
	<string>921819898861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.edu</string>
	<key>PROJECT_ID</key>
	<string>edumobile-974ad</string>
	<key>STORAGE_BUCKET</key>
	<string>edumobile-974ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921819898861:ios:1ddd3ce91d2dda62ae7de4</string>
</dict>
</plist>